body{
    margin: 0 auto;
    max-width: 1000px;
    background-color: lightslategrey;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Mooli', sans-serif;
	font-family: 'Playfair Display', serif;
	font-family: 'Ubuntu', sans-serif;
}

header section{
    background-color: #0e1821;
    color: white;
    box-shadow: 3px 3px rgb(0, 0, 53);
    text-align: center;
    padding: 1rem;
}

main section{
    border: 1px grey solid;
    margin: .5rem;
    box-shadow: 3px 3px rgb(0, 0, 53);
	border-radius: 10px; 
	border-color: black;   
}

main section p{
    padding: 1rem;
	color: black;    
}

main section h3{
    background-color: #0e1821;
    color: white;
    padding: 1rem;
    margin-block-start: 0px;
    text-align: center;
	border-radius: 10px;
}

footer {
    text-align: center;
    background-color: #0e1821;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #d9ebe9;
    line-height: 1.2rem;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: white;
}

img {
	width: 15.5rem;
}

@media screen and (min-width: 640px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section3{
        grid-column: 1/3;
    }

    .section3 img{
        width: 100%;
    }

	.section2 .description {
		padding-top: 2rem;
	}
}

@media screen and (min-width: 1024px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .section3{
        grid-column: 3/4;
    }

    .section3 img{
        width: 80%;
		height: 46rem;
    }

	/* .section3 .description {
		padding-top: 7.5rem;
	} */

}

@media screen and (min-width: 1440px){
	.section3 img {
		width: 18rem;
	}
}