body {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Mooli', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Ubuntu', sans-serif;
}

header { 
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #27374D;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
    text-align: center;
    background-color: #DDE6ED;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    line-height: 35px;
    max-width: 800px;
    margin: 0 auto;
}

main {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

footer {
    text-align: center;
    background-color: #27374D;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: #000000;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.information {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: #000000;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    line-height: 1.7rem;
}

.information p {
    font-size: 1rem;
}

h1 {
    padding-top: 30px;
    color: white;
    font-size: 2rem;
}

h2 {
    border-bottom: #000000 2pt solid;
    text-align: center;
}

h3 {
    color: white;
    background-color: #27374D;
    padding: 20px;
    margin: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h1, img {
    margin: 0 10px;
}

footer p {
    color: white;
    line-height: 40px;
}

img {
    max-width: 5rem;
    margin-right: 10px;
    border-radius: 3%;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav li {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

nav a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s;
    display: block;
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
}

nav a:hover {
    color: gray;
    border: 1px solid gray;
}

.card ul {
    list-style-type: none;
    padding: 10px;
}

.card ul li {
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.card ul a {
    color: #000000;
    text-decoration: none;
}

.card ul a:hover {
    color: darkblue;
}