:root {
    --background-color: white;
    --valid-shadow: 2px 2px 2px black;
    --invalid-shadow: 2px 2px 2px #27374D;
    --text-align: center;
}

/* Form CSS */
#form-main {
    padding-left: 6rem;
}

#form-main label{
    display: block;
    margin: 1rem 0;
    text-align: left;
}

#form-main input{
    display: block;   
}

#form-main form{
    margin: 0 auto;    
    width: 600px;
}
input[type="text"], input[type="password"], input[type="email"]{
    width: 300px;
    padding: .5rem;
    font-size: 1.1rem;
}

#form-main button{
    font-size: 2rem;
    padding: .5rem;
    background-color: #27374D;
    color: white;
    margin: 1rem 0;
}

#rating {
    width: 300px;
    box-shadow: none;
}

#rangevalues {
    display: flex;    
    width: 320px;
}

#rangevalues option {
    flex: 1;
}

#message{
    background-color: var(--background-color);
    color: #27374D;
    padding: .5rem;
    display: block;
}

input:invalid{
    box-shadow: var(--invalid-shadow);
}

input:valid{
    box-shadow: var(--valid-shadow);
}

#form-main h2{
    text-align: var(--text-align);
}

#record-message h4 {
    text-align: var(--text-align);
    grid-column: span 2;
}